# MongoDB
# Example without auth:
# MONGO_URI=mongodb://localhost:27017
MONGO_URI=mongodb://username:password@localhost:27017/wolffia?authSource=wolffia&replicaSet=rs0
MONGO_DB=wolffia
MONGO_COLLECTION=sensor_data

# MQTT
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC=pond1/data
MQTT_USERNAME=your-mqtt-username
MQTT_PASSWORD=your-mqtt-password

# Camera
CAMERA_DEVICE=/dev/video0
LIGHT_PIN=19
LIGHT_ACTIVE_LOW=true
PUMP_WATER_PIN=6
PUMP_WATER_ACTIVE_LOW=false
# Example for 3 fertilizer relays that must switch together.
PUMP_FERTILIZER_PINS=5,6,13
PUMP_FERTILIZER_ACTIVE_LOW=false

# Web API
CORS_ALLOW_ORIGINS=*
